-c ../constraints.txt
tensorrt_llm>=0.0.0.dev0
datasets==3.1.0
evaluate
rouge_score
transformers>=4.40.1
transformers-stream-generator
sentencepiece>=0.1.99
tiktoken
einops

# optional dependencies
gradio==4.36.0
mdtex2html
sse_starlette
aiohttp_sse_client
openai
