Pillow
numpy<2.0.0
matplotlib
timm>=0.9,<=1.0.12
pyarrow<20.0.0a0,>=14.0.0
wheel
cython
tensorboard
scipy
opencv-python
scikit-learn
scikit-image
openai-clip
decord
requests
pyyaml
easydict
pyiqa
lvis
fairscale>=0.4.4
fvcore
easydict
urllib3
boto3
omegaconf
pycocoevalcap
transformers<=4.51.3
opencv-python-headless
detectron2@git+https://github.com/facebookresearch/detectron2.git
