Checks: '*,
         -altera-id-dependent-backward-branch,
         -altera-struct-pack-align,
         -altera-unroll-loops,
         -boost-use-ranges,
         -cppcoreguidelines-avoid-do-while,
         -cppcoreguidelines-pro-bounds-pointer-arithmetic,
         -cppcoreguidelines-pro-type-reinterpret-cast,
         -cppcoreguidelines-pro-type-vararg,
         -fuchsia-default-arguments-calls,
         -fuchsia-default-arguments-declarations,
         -fuchsia-overloaded-operator,
         -fuchsia-virtual-inheritance,
         -hicpp-vararg,
         -llvm-else-after-return,
         -llvmlibc-*,
         -misc-include-cleaner,
         -misc-non-private-member-variables-in-classes,
         -modernize-use-trailing-return-type'
