build
cpp/*build*
cpp/cmake-*
cpp/.ccache
cpp/tests/resources/models
tensorrt_llm/libs
**/__pycache__
examples/**/.git
examples/**/*.bin
examples/**/*.engine
examples/**/*.onnx
examples/**/*.safetensors
examples/**/c-model
examples/models/core/gpt/gpt*
