__pycache__/
.vscode
*.engine
*.engine.config
*.cache
*.nsys-rep
.VSCodeCounter
build*/
!builders/
*.egg-info/
.coverage
*.onnx
tmp/
venv/
.venv/
.local/
.hypothesis/
.idea/
dump*/
.trt-internal
*.dot
*.prof
*.log
*.pkl
*.hdf5
*.lock
config.json
/*.svg
cpp/cmake-build-*
cpp/.ccache/
tensorrt_llm/bin
tensorrt_llm/libs
tensorrt_llm/bindings.*.so
tensorrt_llm/bindings.pyi
tensorrt_llm/bindings/*.pyi
*docs/cpp_docs*
*docs/source/_cpp_gen*
*.swp

# Testing
.coverage.*
results_trt/
