[submodule "3rdparty/cutlass"]
	path = 3rdparty/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "3rdparty/cxxopts"]
	path = 3rdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts
	branch = v3.1.1
[submodule "3rdparty/NVTX"]
	path = 3rdparty/NVTX
	url = https://github.com/NVIDIA/NVTX.git
[submodule "3rdparty/ucxx"]
	path = 3rdparty/ucxx
	url = https://github.com/rapidsai/ucxx.git
[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "3rdparty/xgrammar"]
	path = 3rdparty/xgrammar
	url = https://github.com/mlc-ai/xgrammar.git
[submodule "3rdparty/nanobind"]
	path = 3rdparty/nanobind
	url = https://github.com/wjakob/nanobind
[submodule "3rdparty/cppzmq"]
	path = 3rdparty/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "3rdparty/DeepGEMM"]
	path = 3rdparty/DeepGEMM
	url = https://github.com/ruoqianguo/DeepGEMM.git
	branch = swapab_sm100
[submodule "3rdparty/flash-mla"]
	path = 3rdparty/flash-mla
	url = https://github.com/deepseek-ai/FlashMLA.git
