-r requirements-windows.txt
--extra-index-url https://download.pytorch.org/whl/cu121
datasets
einops
graphviz
mypy
parameterized
pre-commit
pybind11-stubgen
pytest-cov
pytest-forked
pytest-xdist
pywin32
rouge_score
typing-extensions==4.8.0
