-r requirements-windows.txt
--extra-index-url https://download.pytorch.org/whl/
datasets
einops
graphviz
mypy
parameterized
pre-commit
pybind11
pybind11-stubgen
pytest
pytest-cov
pytest-env
pytest-forked
pytest-timeout
pytest-xdist
pywin32
rouge_score
cloudpickle
typing-extensions==4.8.0
jsonlines==4.0.0
jieba==0.42.1
rouge==1.0.1
ruff==0.9.4
