.tag {
  padding: 2px 3px;
  border-radius: 3px;
  font-size: 0.8em;
  margin-right: 5px;
  color: #000;
}

code.beta {
  display: inline-block;
  background-color: #6c757d;
  color: #fff;
}

code.prototype {
  display: inline-block;
  background-color: #fd7e14;
  color: #fff;
}

code.deprecated {
  display: inline-block;
  background-color: red;
  color: #fff;
}

code.stable {
  display: inline-block;
  background-color: #28a745;
  color: #fff;
}
