--extra-index-url https://pypi.nvidia.com
tensorrt_llm==0.11.0
git+https://github.com/google-deepmind/recurrentgemma.git
flax>=0.8.2
jax~=0.4.23
orbax-checkpoint==0.5.7
transformers>=4.40.0
datasets~=2.14.5
evaluate
rouge_score
sentencepiece
